@import '../../../styles.scss';

.profile-card {
    color: white;
    text-align: center;
    width: 30vw;

    a {
        color: white;
        text-decoration: underline;
    }
}


.photo-wrapper {
    margin: 20px;
    padding: 20px;
    background-color: rgba(0, 0,0 , 0.8);
    border-radius: 5px;
    .photo {
        background: url('../../../assets/oscar.jpg');
        background-size: cover;
        width: 100%;
        height: 200px;
        filter: grayscale(50%);
        border-radius:25px;
        margin: auto;
        background-color: rgba(0, 0,0 , 0.7);
        filter: grayscale(100%);

    }
}


.data {
    font-size: 17px;
    text-align: start;
    background-color: rgba(0, 0,0 , 0.8);
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
}

.bullet-list {
    margin-left: 1em;
}

.arrow {
    color: $accent3;
}

.orange {
    color: $accent1;
}

.function {
    color: $accent2;
}


@media only screen and (max-width: 600px) {
    .profile-card {
        width: auto;
    }
}