@import '../styles.scss';

.landing-page {
    height: 100vh;
    width: 100vw;
}

.main-page {
    width: 100vw;
}

.container {
    overflow: hidden;
}

.sticky {
    position: fixed;
}

.main-page {
    margin: auto;
    max-width: 1200px;
}
