<div class="container">
    <section class="section landing-page">
      <landing-page></landing-page>
    </section>
    <section class="section main-page">
        <main-page></main-page>
    </section>  
    <section class="section main-page">
      <text-section [title]="'Showcase'" [text]="showCaseText" [reverse]="true"></text-section>
  </section>  
  <section class="section main-page">
    <text-section [title]="'About'" [text]="aboutText" [reverse]="false"></text-section>
</section>
</div>
