.main-page-wrapper {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-family: monospace; 
}
@media only screen and (max-width: 600px) {
    .main-page-wrapper  {
        flex-direction: column;
        justify-content: flex-start;
    }

    .word-cloud {
        transform: scale(0.5);
    }

}


.right-col{
    width: 100%;
    padding-right: 10px;
}

.main-text {
    text-align: center;
    font-size: x-large;
}


.opening-text-wrapper {
    border-radius: 5px;
    color: white;
    text-align: center;
    background-color: rgba(0,0,0,0.8);
    margin: 20px;
    padding: 20px;
}