$accent1: #FF5900;
$accent2: #F5ECB6;
$accent3: #54A5AE;



body {
    overflow-x: hidden;
    margin: 0;
    font-family: monospace;
    position: absolute;
}

a {
    color: white;
    text-decoration: underline;
}

.text-image {
    width: 200px;
    height: 300px;
    object-fit: cover;
    object-position: top;
    filter: brightness(0.7);
}

.text-image:hover{
   filter: none;
}

@mixin box {
    border-radius: 6px;
    background-color: rgba(0, 0,0 , 0.8);
    margin: 20px;
    padding: 20px;
}